:root {
    --inter-variable: 'Inter-Variable';
    --press-Start-2P: 'Press Start 2P';
    --wght-text: 400;
    --wght-text-title: 700;
    --backgrount-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(#e7e7e7, #1a1a1a 0.01%);
    --color-background: hwb(0 100% 0%);
    --color-text: hwb(0 0% 100%);
    --color-contour: #000;
    --color-sparks: hwb(0 0% 0%);
    --font-size-logo: clamp(3.063rem, 2.697rem + 1.56vw, 4.063rem);
    --font-size-logo-text: clamp(0.875rem, 0.669rem + 0.88vw, 1.438rem);
    --font-size: 18px;
    --font-size-button-text: 14px;
}